:root {
    --heading-text-align: center;
    --font-size: 1rem;
    --font-color-secondary: #6d7f97;
    --font-color-complementary: #edf2f748;
    --font-size: 1rem;
    --font-family-heading: Georgia, serif;
}

h1 {
    text-align: center;
    color: var(--font-color-primary)
}

.article-container {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    height: 400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.article-img {
    width: 50%;
    height: 92%;
    background-image: url('images/drawers.jpg');
    background-repeat: no-repeat;
    padding: 1rem;
    background-position: center center;
    background-size: auto;
    object-fit: fill;
}

.article-content {
    width: 50%;
    padding: 0 0 0 2rem;
    line-height: 1.4;
    font-size: calc(1.02 * var(--font-size))
}